<%- include("../layout/head", {title:"Home"})%>
<%- include("../layout/header")%>
<%- include("../layout/menu")%>
<%- include("../layout/slider")%>
<%- include("../layout/banner")%>

<body>
        <form class="col-lg-12" id="filterForm" action="/filterProduct">
            <div class="filter-container">
                <!-- Lọc theo danh mục -->
                <div class="filter-item">
                    <label for="category">Danh mục:</label>
                    <select name="category" id="category">
                        <option value="">Tất cả</option>
                        <%for (category of categories) {%>
                            <option value=<%=category._id%>><%=category.title%></option>
                        <%}%>
                    </select>
                </div>

                <!-- Lọc theo nha xuat ban -->
                <div style="margin-left: 15px;" class="filter-item">
                    <label for="publisher">Nhà xuất bản:</label>
                    <select name="publisher" id="publisher">
                        <option value="">Tất cả</option>
                        <% publishers.forEach(function(publisher) { %>
                            <option value="<%= publisher %>"><%= publisher %></option>
                        <% }) %>
                    </select>
                </div>
        
                <!-- Lọc theo giá tiền -->
                <div style="margin-left: 15px;" class="filter-item">
                    <label for="price">Khoảng giá:</label>
                    <select name="price" id="price">
                        <option value="">Tất cả</option>
                        <option value="0-49999">Dưới 50,000đ</option>
                        <option value="50000-100000">50,000đ - 100,000đ</option>
                        <option value="100000-200000">100,000đ - 200,000đ</option>
                        <option value="200000-500000">200,000đ - 500,000đ</option>
                    </select>
                </div>
            </div>

            <!-- Nút lọc -->
            <div class="filter-item">
                <button type="submit" class="btn btn-primary">Lọc sản phẩm</button>
            </div>
        </form>

        <% for(category in productsByCategory) { %>
            <div id="products" class="col-lg-12">
                <h3><%=category%></h3>
                <div class="products-list row">
                    <% for(product of productsByCategory[category]) { %>
                        <div class="products-item col-lg-3">
                            <div class="products-content">
                                <a href="/product-<%=product._id%>"><img src="/static/images/<%=product.image%>" alt=""></a>
                                <h4><a href="/product-<%=product._id%>"><%=product.name%></a></h4>
                                <%if(product.sale>0) {%>
                                    <p>
                                        <span class="price-sale"><%=parseInt(product.salePrice).toLocaleString('en-us')%>đ</span>
                                        <span class="price-old"><%=parseInt(product.price).toLocaleString('en-us')%>đ</span>
                                        <%if(product.sale<=100) {%>
                                            <span class="sale-prices">-<%=product.sale%>%</span>
                                        <%} else { %>
                                            <span class="sale-prices">-<%=product.sale%>đ</span>
                                        <%}%>
                                    </p>
                                <%} else {%>
                                    <p>
                                        <span class="price-olds"><%=parseInt(product.price).toLocaleString('en-us')%>đ</span>
                                    </p>
                                <%}%>
							    
                                <%for(order of orders) {%>
                                    <%if(order.productName === product.name) {%>
                                        <p><span>Đã bán: <%=order.totalQuantity%></span></p>
                                    <%}%>
                                <%}%>
                            </div>
                        </div>
                    <%}%>
                </div>
            </div>
        <%}%>

        <%if(productBestSell.length>0) {%>
            <div style="margin-top: 30px;" id="products" class="col-lg-12">
                <h3>Sản phẩm bán chạy</h3>
                <div class="products-list row">
                    <%for(product of productBestSell){ %>
                        <div class="products-item col-lg-3">
                            <div class="products-content">
                                <a href="/product-<%=product.productDetails[0]._id%>"> 
                                    <img src="/static/images/<%=product.productDetails[0].image%>" alt="">
                                </a>
                                <h4><a href="/product-<%=product.productDetails[0]._id%>"><%=product.productName%></a></h4>
                                <%if(product.productDetails[0].sale > 0) {%>
                                    <p>
                                        <span class="price-sale"><%=parseInt(product.productDetails[0].salePrice).toLocaleString('en-us')%>đ</span>
                                        <span class="price-old"><%=parseInt(product.productDetails[0].price).toLocaleString('en-us')%>đ</span>
                                        <%if(product.productDetails[0].sale <= 100) {%>
                                            <span class="sale-prices">-<%=product.productDetails[0].sale%>%</span>
                                        <%} else { %>
                                            <span class="sale-prices">-<%=product.productDetails[0].sale%>đ</span>
                                        <%}%>
                                    </p>
                                <%} else {%>
                                    <p>
                                        <span class="price-olds"><%=parseInt(product.productDetails[0].price).toLocaleString('en-us')%>đ</span>
                                    </p>
                                <%}%>
                                <p><span>Đã bán: <%=product.totalQuantity%></span></p>
                            </div>
                        </div>
                    <%}%>
                </div>
            </div>
        <%}%>
        
        </div>
    </div>
            <%- include("../layout/footer")%>
</body>
</html>