<%- include("../layout/head", {title: "D - SHOP"})%>
<%- include("../layout/header")%>
<%- include("../layout/sidebar")%>

<body>
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
                <li><a href="#"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                <li><a href="/admin/product">Quản lý sản phẩm</a></li>
				<li class="active"><%=products.name%></li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Sản phẩm: <%=products.name%></h1>
			</div>
        </div><!--/.row-->
        <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <% if (typeof error !== 'undefined') { %>
                                <div id="alert" class="alert alert-danger">
                                  <%= error %>
                                </div>
                            <% } %>
                            <form role="form" method="post" enctype="multipart/form-data">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tên sản phẩm</label>
                                        <input type="text" name="name" required class="form-control" value="<%=products.name%>">
                                    </div>
                                                                    
                                    <div class="form-group">
                                        <label>Giá sản phẩm</label>
                                        <input type="number" name="price" required value="<%=products.price%>" class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label>Giảm giá</label>
                                        <input type="number" name="sale" value="<%=products.sale%>" class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label>Tác giả</label>
                                        <input name="author" type="text" value="<%=products.author%>" class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label>Dịch giả</label>
                                        <input name="translator" type="text" value="<%=products.translator%>" class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label>Nhà xuất bản</label>
                                        <input name="publisher" type="text" value="<%=products.publisher%>" class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label>Thông tin chi tiết</label>
                                        <textarea name="details" class="form-control" rows="3"><%=products.details%></textarea>
                                        <script>
                                            CKEDITOR.replace('details');
                                        </script>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Ảnh sản phẩm</label>
                                        <input type="file" name="image">
                                        <br>
                                        <div>
                                            <img width="150" height="150" src="/static/images/<%=products.image%>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Danh mục</label>
                                        <select name="cat_id" class="form-control">
                                            <%for(category of categories) {%>
                                                <option <%= category.id == products.cat_id ? "selected":"" %> value=<%=category._id%>><%=category.title%></option>
                                            <%}%>
                                        </select>
                                    </div>
                                        
                                    <div class="form-group">
                                        <label>Mô tả sản phẩm</label>
                                        <textarea name="description" class="form-control" rows="3"><%=products.description%></textarea>
                                        <script>
                                            CKEDITOR.replace('description');
                                        </script>
                                    </div>
                                    <button type="submit" name="sbm" class="btn btn-success">Cập nhật</button>
                                    <button type="reset" class="btn btn-default">Làm mới</button>
                                    <button class="btn btn-primary">
                                        <a style="color: white; text-decoration: none;" href="/admin/product">Quay lại</a>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div><!-- /.col-->
            </div><!-- /.row -->
		
	</div>	<!--/.main-->	
</body>

<script>
    // Tự động ẩn thông báo sau 1 giây
    const errorAlert = document.getElementById('alert');
    if (errorAlert) {
      setTimeout(() => {
        errorAlert.style.display = 'none';
      }, 1000); // 1000ms = 1 giây
    }
</script>

</html>
