<%- include("../layout/head", {title: "D - SHOP"})%>
<%- include("../layout/header")%>
<%- include("../layout/sidebar")%>


<body>	
	<div class="col-sm-9 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/admin/dashboard"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Sản phẩm bán chạy nhất</li>
			</ol>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Sản phẩm bán chạy nhất</h1>
			</div>
		</div>

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-lg-4" >
                <div class="row">
                    <canvas id="pieChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>

		<div id="toolbar" class="toolbar-item">
			<div>
				<a href="/admin/manager/soldOut" class="btn btn-success">
					Sản phẩm đã bán
				</a>
			</div>

            <div style="margin-left: 10px;">
				<a href="/admin/manager/productLeastSell" class="btn btn-danger">
					Sản phẩm bán ít
				</a>
			</div>
        </div>

		<div class="row">
			<div class="col-md-12">
					<div class="panel panel-default">
							<div class="panel-body">
								<table 
									data-toolbar="#toolbar"
									data-toggle="table">
		
									<thead>
                                        <tr>
                                            <th>Tên sản phẩm</th>
                                            <th>Số lượng bán</th>
                                            <th>Số lượng tồn kho</th>
                                        </tr>
									</thead>

									<tbody>
										<% dataProductBestSell.forEach((data, index)=> { %>
											<tr>
                                                <td>
                                                    <%= data.productName %>
                                                </td>
                                                <td>
                                                    <%= data.totalQuantity %>
                                                </td>
                                                <td>
                                                    <%= data.productDetails[0].quantity %>
                                                </td>
											</tr>
                                        <% }) %>

									</tbody>
								</table>
							</div>
					</div>
			</div>
		</div>
	</div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- bar char -->
    <!-- chart sales product -->
    <script>
        var ctxPie = document.getElementById('pieChart');
        let dataPie = '<%= PieChart.data.labels %>';
        let dataArrayPie = dataPie.split(",")
        var myChartPie = new Chart(ctxPie, {
            type: 'pie',
            data: {
                labels: dataArrayPie,
                datasets: [{
                    label: 'Tổng số lượng đã bán',
                    data: <%= JSON.stringify(PieChart.data.datasets[0].data) %>,
                    backgroundColor: ['red', 'blue', 'green', 'yellow', 'tomato', 'pink', 'black'],
                }]
            }
        });
    </script>
	<script src="js/jquery-3.7.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap-table.js"></script>	
</body>

</html>
