<%- include("../layout/head", {title: "D - SHOP"})%>
<%- include("../layout/header")%>
<%- include("../layout/sidebar")%>


<body>	
	<div class="col-sm-9 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="/admin/dashboard"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
				<li class="active">Sản phẩm bán chạy</li>
			</ol>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Sản phẩm bán chạy</h1>
			</div>
		</div>

		<div id="toolbar" class="toolbar-container">
			<div class="toolbar-item">
				<a href="/admin/manager/soldOut" class="btn btn-success">
				Sản phẩm đã bán
				</a>
			</div>
			
			<div class="toolbar-item">
				<a href="/admin/manager/productLeastSell" class="btn btn-danger">
				Sản phẩm bán ít
				</a>
			</div>

            <form class="toolbar-form" action="/admin/manager/productBestSell" method="get">
              <label for="timeframe">Khoảng thời gian:</label>
              <select name="timeframe" id="timeframe" onchange="toggleCustomDate(this.value); this.form.submit()">
                <option value="10days" <%= timeframe === "10days" ? "selected" : "" %>>10 ngày gần nhất</option>
                <option value="week" <%= timeframe === "week" ? "selected" : "" %>>Theo tuần</option>
                <option value="month" <%= timeframe === "month" ? "selected" : "" %>>Theo tháng</option>
                <option value="custom" <%= timeframe === "custom" ? "selected" : "" %>>Thời gian tùy chọn</option>
              </select>
          
              <div id="custom-dates" style="display: <% if (timeframe === 'custom') { %> block <% } else { %> none <% } %>;">
                <label for="start">Từ ngày:</label>
                <input type="date" name="start" id="start" value="<%= start || '' %>">
          
                <label for="end">Đến ngày:</label>
                <input type="date" name="end" id="end" value="<%= end || '' %>">
          
                <button type="submit">Lọc</button>
              </div>
            </form>
        </div>

		<div class="row">
			<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<table 
								data-toolbar="#toolbar"
								data-toggle="table">
								<thead>
									<tr>
										
										<th>Tên sản phẩm</th>
										<th>Tổng số lượng bán</th>
										<th>Số lượng tồn kho</th>
									</tr>
								</thead>

								<tbody>
									<% result.forEach(item => { %>
										<tr>
											
											<td><%= item.productName %></td>
											<td><%= item.totalQuantity %></td>
											<td><%= item.productDetails[0].quantity %></td>
										</tr>
                    				<% }) %>
								</tbody>
							</table>
						</div>
					</div>
			</div>
		</div>
	</div>

    <script>
        function toggleCustomDate(value) {
          const customDates = document.getElementById("custom-dates");
          customDates.style.display = value === "custom" ? "block" : "none";
        }
    </script>
	<script src="js/jquery-3.7.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap-table.js"></script>	
</body>

</html>
